/**Mixin**/

@mixin bd-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}

@mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}

@mixin transition-linear($time) {
    -webkit-transition: all $time linear;
    -moz-transition: all $time linear;
    -o-transition: all $time linear;
    transition: all $time linear;
}

@mixin transform($value1, $value2) {
    -webkit-transform: translate($value1, $value2);
    -moz-transform: translate($value1, $value2);
    -ms-transform: translate($value1, $value2);
    -o-transform: translate($value1, $value2);
    transform: translate($value1, $value2);
}

@mixin transform-x($value1) {
    -webkit-transform: translateX($value1);
    -moz-transform: translateX($value1);
    -ms-transform: translateX($value1);
    -o-transform: translateX($value1);
    transform: translateX($value1);
}

@mixin transform-y($value1) {
    -webkit-transform: translateY($value1);
    -moz-transform: translateY($value1);
    -ms-transform: translateY($value1);
    -o-transform: translateY($value1);
    transform: translateY($value1);
}

@mixin transform-s($value1) {
    -webkit-transform: scale($value1);
    -moz-transform: scale($value1);
    -ms-transform: scale($value1);
    -o-transform: scale($value1);
    transform: scale($value1);
}

@mixin transform-r($value1) {
    -webkit-transform: rotate($value1);
    -moz-transform: rotate($value1);
    -ms-transform: rotate($value1);
    -o-transform: rotate($value1);
    transform: rotate($value1);
}

@mixin box-shadow($val1, $val2, $val3, $rgb1, $rgb2, $rgb3, $rgb4) {
    -webkit-box-shadow: $val1 $val2 $val3 rgba($rgb1, $rgb2, $rgb3, $rgb4);
    -moz-box-shadow: $val1 $val2 $val3 rgba($rgb1, $rgb2, $rgb3, $rgb4);
    box-shadow: $val1 $val2 $val3 rgba($rgb1, $rgb2, $rgb3, $rgb4);
}

@mixin text-shadow($val1, $val2, $val3, $rgb1, $rgb2, $rgb3, $rgb4) {
    -webkit-text-shadow: $val1 $val2 $val3 rgba($rgb1, $rgb2, $rgb3, $rgb4);
    -moz-text-shadow: $val1 $val2 $val3 rgba($rgb1, $rgb2, $rgb3, $rgb4);
    text-shadow: $val1 $val2 $val3 rgba($rgb1, $rgb2, $rgb3, $rgb4);
}

@mixin d-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


@mixin footer-addres {
    font-size: 14px;
    color: $white;
    line-height: 24px;
    margin-left: 20px;
    
    strong {
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }
}
