/**Default Padding**/

.pt-80 {
    padding-top: 80px;

    @media #{$min768} {
        padding-top: 40px;
    }
}

.pb-80 {
    padding-bottom: 40px;

    @media #{$min768} {
        padding-bottom: 80px;
    }
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mt-80 {
    margin-top: 40px;

    @media #{$min768} {
        margin-top: 80px;
    }
}

.mb-80 {
    margin-bottom: 40px;

    @media #{$min768} {
        margin-bottom: 80px;
    }
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

