* {
    padding: 0px;
    margin: 0px;
}


/**Fonts**/

@font-face {
    src: url(../fonts/text-fonts/Nexa-Light.ttf);
    font-family: nexa-light;
}

@font-face {
    src: url(../fonts/text-fonts/Nexa-Regular.ttf);
    font-family: nexa-regular;
}

@font-face {
    src: url(../fonts/text-fonts/Nexa-Bold.ttf);
    font-family: nexa-bold;
    font-weight: 700;
}

@font-face {
    src: url(../fonts/text-fonts/Nexa-ExtraBold.ttf);
    font-family: nexa-extraBold;
}


/**Font Size & Font Family**/

h1 {
    text-transform: capitalize;
    font-family: $font-regular;
    font-size: 32px;
    line-height: 34px;
    
    @include transition(0.5s);
}
h2 {
    text-transform: capitalize;
    font-size: 30px;
    line-height: 32px;
    font-family: $font-regular;
    @include transition(0.5s);
}
h3 {
    
    font-size: 28px;
    line-height: 30px;
    font-family: $font-regular;
    @include transition(0.5s);
}
h4 {
    
    font-size: 26px;
    line-height: 28px;
    font-family: $font-regular;
    @include transition(0.5s);
}
h5 {
    
    font-size: 24px;
    line-height: 26px;
    font-family: $font-regular;
}
h6 {
    
    font-size: 26px;
    line-height: 28px;
    font-family: $font-regular;
}


a {
    
    font-family: $font-regular;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: $black;
    @include transition(0.5s);

    &:hover {
        text-decoration: none;
        color: $orenge;
    }
}

p {
    
    font-family: $font-regular;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: $color-black;
}

ul {
    margin: 0px;
    padding: 0 0 0 20px;
    li {
        list-style-type: none;
    }
}

i {
    font-size: 14px;
}

label {
    margin: 0px;
    font-size: 14px;
    line-height: 18px;
    font-family: $font-regular;
    $color-black: $color-black;
}

input {
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        font-family: $font-regular;
    }
}


/**Default Button**/

button {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.ic-btn-fill {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    Padding: 0px 24px;
    text-transform: uppercase;
    text-align: center;
    color: #f1f3f5;
    font-family: $font-regular;
    @include transition(0.5s);
    @include bd-radius(5px);
    display: inline-block;
    font-weight: 400;
}

.ic-btn-fill-lightblack {
    @extend .ic-btn-fill;
    border: none;
    background: $color-black;
    color: $color-white;
    &:hover {
        background: lighten($color-black, 15%);
        color: $color-white;
    }
}

.ic-btn-fill-blue {
    @extend .ic-btn-fill;
    border: none;
    background: $color-blue;
    color: $color-white;
    &:hover {
        background: lighten($color-blue, 15%);
        color: $color-white;
    }
}

@mixin section-heading {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;

    h2 {
        font-weight: 700;
        color: $color-orenge;
        font-size: 27px;

        @media #{$min500} {  
            font-size: 32px;
        }
    }

    &::before {
        position: absolute;
        bottom: 0;
        left: calc(50% - 50px);
        width: 100px;
        height: 4px;
        border-bottom: 1px solid #f07722;
        content: "";

        @media #{$min500} {  
            left: calc(50% - 100px);
            width: 200px;
        }
    }
}

