/**color Variable**/

$color-red:#FF0000;
$color-blue:#053D82;
$color-golden:#DDCA76;
$color-black:#2D3436;
$color-silver:#828282;
$color-offwhite: #FCFCFF;
$color-lightBlue: #00A2FF;
$color-orenge: #eb5209;

$color-white: #fff; 

 



.color-b {
    color: $color-blue;
}

.color-r {
    color: $color-red;
}

.color-s {
    color: $color-silver;
}

.color-g {
    color: $color-golden;
}

.color-b-bg {
    background: $color-blue;
}

.color-s-bg {
    background: $color-silver;
}

.color-r-bg {
    background: $color-red;
}

.color-g-bg {
    background: $color-golden;
}

.color-bl-bg {
    background: $color-black;
}






/**Font Variable**/

$font-light:nexa-light;
$font-regular:nexa-regular;
$font-bold:nexa-bold;
$font-extraBold:nexa-extraBold;


// Media Query Variables
$min500: "only screen and (min-width: 500px)";
$min576: "only screen and (min-width: 576px)";
$min768: "only screen and (min-width: 768px)";
$min992: "only screen and (min-width: 992px)";
$min1000: "only screen and (min-width: 1000px)";
$min1200: "only screen and (min-width: 1200px)";


$white: #fff;
$black: #000;
$orenge: #E5DA4C;
$yellow: #F2B93C;
$red: #AA1311;
$dark-orenge: #461900;
$gray: #e5e5e5;

.text-center {
    text-align: center !important;
} 