$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?c94a63e8ef33771e572bb1454d16b283") format("truetype"),
url("./flaticon.woff?c94a63e8ef33771e572bb1454d16b283") format("woff"),
url("./flaticon.woff2?c94a63e8ef33771e572bb1454d16b283") format("woff2"),
url("./flaticon.eot?c94a63e8ef33771e572bb1454d16b283#iefix") format("embedded-opentype"),
url("./flaticon.svg?c94a63e8ef33771e572bb1454d16b283#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "facebook": "\f101",
    "twitter": "\f102",
    "youtube": "\f103",
    "menu": "\f104",
    "close": "\f105",
    "left-arrow": "\f106",
    "next": "\f107",
    "down-arrow": "\f108",
);

.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-youtube:before {
    content: map-get($flaticon-map, "youtube");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
.flaticon-close:before {
    content: map-get($flaticon-map, "close");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon-map, "left-arrow");
}
.flaticon-next:before {
    content: map-get($flaticon-map, "next");
}
.flaticon-down-arrow:before {
    content: map-get($flaticon-map, "down-arrow");
}
