@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?c94a63e8ef33771e572bb1454d16b283") format("truetype"),
url("./flaticon.woff?c94a63e8ef33771e572bb1454d16b283") format("woff"),
url("./flaticon.woff2?c94a63e8ef33771e572bb1454d16b283") format("woff2"),
url("./flaticon.eot?c94a63e8ef33771e572bb1454d16b283#iefix") format("embedded-opentype"),
url("./flaticon.svg?c94a63e8ef33771e572bb1454d16b283#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-facebook:before {
    content: "\f101";
}
.flaticon-twitter:before {
    content: "\f102";
}
.flaticon-youtube:before {
    content: "\f103";
}
.flaticon-menu:before {
    content: "\f104";
}
.flaticon-close:before {
    content: "\f105";
}
.flaticon-left-arrow:before {
    content: "\f106";
}
.flaticon-next:before {
    content: "\f107";
}
.flaticon-down-arrow:before {
    content: "\f108";
}
