.inner-page-banner-area  {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

    

    .container {
        position: relative;
        height: 100%;
    }

    

    h2 {
        position: absolute;
        top: 50%;
        left: 20px;
        @include transform-y(-50%);
        z-index: 400;
        color: $color-golden;
        @include text-shadow(0px, 5px, 10px, 0, 0, 0, 1);
        font-family: $font-extraBold;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;

       @media #{$min768} {
            font-size: 40px;
            line-height: 42px;
        }
    }

    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.5);
    }
}

.left-menu-nav {
    display: none;
        width: 100%;
        @include box-shadow(0px, 4px, 8px, 32, 32, 32, 0.16);
        border-radius: 10px;
    
        @media #{$min992} {
            display: block;
        }

        ul {
            padding: 20px 0;

        li {
            a {
                font-family: $font-regular;
                position: relative;
                display: block;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                text-transform: capitalize;
                border-bottom: 1px solid rgba($color-silver, 0.1);
                padding: 15px 15px 15px 20px;

                &:after {
                    display: inline-block;
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 20px;
                    width: 0;
                    height: 1px;                
                    @include transition(0.4s);
                    background-color: $color-orenge;
                }               
                 

                &:hover {
                    color: $color-blue;
                    &:after {
                        width: calc(100% - 48px);
                    }
                }
            }

            &.active {
                a {
                    color: $color-blue;
                    &:after {
                        width: calc(100% - 48px);
                    }
                }
            }

            &:last-child {
                a {
                    border: none;
                }
            }

            
            
        }
    }
}

.innerpage-text-section {

    @media #{$min768} {
        padding: 0 0 0px 20px;
    }

    h2 {
        font-family: $font-bold;
        position: relative;
        display: block;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        padding: 0;
        margin-bottom: 20px;
        
    }

    p {
        font-family: $font-regular;
        position: relative;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        padding: 0;
        margin-bottom: 20px;
        text-align: justify;
    }

    .innerpage-text-imge {
        overflow: hidden;

        @media #{$min768} {
            margin-left: -20px;
        }

        .innerpage-director-image {
            width: 100%;
            height: 250px;
            max-width: 250px;
            overflow: hidden;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin: 0 0 20px;
            border-radius: 15px;            
            @include box-shadow(2px, 5px, 6px, 0, 0, 0, 0.07);
        }

        .innerpage-director-text {
            margin-bottom: 50px;
            h3 {
                font-family: $font-regular;
                position: relative;
                display: block;
                font-weight: 500;
                font-size: 22px;
                line-height: 30px;
                padding: 0;
                margin-bottom: 10px;
            }

            h4 {
                font-family: $font-regular;
                position: relative;
                display: block;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                padding: 0;
                margin-bottom: 10px;

                @media #{$min768} {
                    font-size: 18px;
                    line-height: 28px;
                }
            }

            p {
                text-align: justify;
                strong {
                    color: $color-orenge;
                }
            }
        }
    }
}

.innerpage-certificaton {
    position: relative;
    img {
        max-width: 100%;
    }

    
}