// =========================
// ======Header Top CSS=====
// =========================

.main-header {
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 500;
        background-color: $gray;

        @media #{$min992} { 

            position: relative;
            top: auto;
    
            .header-bottom-area {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 5000;
            }
        }
    }

    
}

.header-top-area {
    background: $orenge;
    display: none;

    @media #{$min992} {  
        display: block;
    }
}

.header-top {
    justify-content: space-between;
    padding: 2px 0px;
    height: 30px;
    .hot-line {
        ul {
            padding: 0;
        
            li {
                margin-top: -2px;
                float: left;

                a {
                    
                    font-size: 11px;
                    line-height: 11px;
                    font-weight: 600;
                    color: $black;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:last-child {
                    float: right;
                }
            }            
        }
    }
}

.header-logo-wrap {
    overflow: hidden;
    
    .main-logo {
        width: 160px;
        height: auto;
        display: block;
        overflow: hidden;
        margin: 20px 0;
        float: left;

        a {
            display: inline-block;
            
        }
    }

    .right-social-wrap {
        float: right;
        margin-top: 40px;
        display: none;

        @media #{$min992} {  
            display: inline-block;
        }

        ul {
            display: flex;
            li {
                &:last-child a {
                    margin-right: 0px;
                }
                a {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    @include bd-radius(50%);
                    background: $black;
                    display: inline-block;
                    margin-right: 15px;
                    @include transition(0.5s);

                    i {                    
                        color: $white;
                        margin-left: 2px;
                        @include transition(0.5s);
    
                        &:before {
                            font-size: 13px;                    
                            line-height: 30px;
                        }
                    }

                    &:hover {
                        background: rgba($black, 0.6);
                    }
                }
                
            }
        }
    }
} //header-logo-wrap end


// ================================================
// ============== Header bottom CSS ===============
// ================================================

.header-bottom-area {
    @include box-shadow(0px, 4px, 8px, 34, 50, 143, 0.08);
    position: relative;
    min-height: 0px;
    background-color: $gray;

    @media #{$min992} {  
        min-height: 40px;
    } 


    nav {        
        padding: 20px 0;
        display: none;

        @media #{$min992} {  
            padding: 0;
            display: block;
        }        

        .menu-area {
            

            ul {
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                
                li {
                    display: inline-block;
                    position: relative;
                    float: left;
                    overflow: hidden;                  
                    @include transition(0.5s);

                    &.dropdown {
                        position: relative;
                    }

                    a {
                        display: block;
                        text-transform: uppercase;
                        padding: 11px 0px;
                        color: $black;
                        @include transition(0.3s);
                    }

                    &:hover {
                        overflow: visible;

                        > a{
                            color: $red;
                        }

                        .ss-dropdown-menu {
                            opacity: 1;
                            height: auto;
                            top: 100%;
                        }
                    }

                    
                        
                    &.active {
                        > a {
                            color: $red;
                        }
                        
                    }

                    .ss-dropdown-menu {
                        display: block;
                        height: 0;
                        opacity: 0;
                        position: absolute;
                        top: 90%;
                        left: 0;
                        min-width: 240px;
                        background-color: #272727;
                        border-top: 5px solid $orenge;
                        @include transition(0.5s);
                        z-index: 500;

                        li {
                            display: block;
                            position: relative;
                            float: none;
                            @include transition(0.5s);

                            a {
                                font-size: 10px;
                                line-height: 12px;
                                color: $white;
                                padding: 9px 16px;
                                @include transition(0.5s);
                            }

                            &:last-child {
                                margin-bottom: 7px;
                            }                            

                            &:hover {
                                background-color: $orenge;

                                a {
                                    color: black;
                                }

                                .ss-dropdown-menu-one {
                                    top: 0;
                                }
                            }
                            
                        }

                        .ss-dropdown-menu-one {
                            border-top: 5px solid $orenge;
                            background: $orenge;
                            left: 100%;
                            position: absolute;
                            background: #272727;
                            top: 20px;
                            width: 240px;
                            display: block;
                            
                            @include transition(0.5s);

                            li {
                                display: block;
                                float: none;

                                a {
                                    color: $white;
                                }

                                &:hover {
    
                                    a {
                                        color: black;
                                    }
                                }
                            }
                        }
                    }

                    &:nth-child(n+5) {
                        .ss-dropdown-menu {
                            left: auto;
                            right: 0;
                            .ss-dropdown-menu-one {
                                left: auto;
                                right: 100%;
                            }
                        }
                        
                    }
                }
            }
        } //menu-area end
    }
}

// ================================================
// ============== banner CSS ======================
// ================================================

.banner-area {
    // display: none;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 5px solid $orenge;

    .banneer-content-area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 40px);

        @media #{$min500} {                
            width: calc(100% - 80px);
        }

        @media #{$min768} {  
            max-width: 900px;
            width: auto;
        }
    }

    .banner-slider-wrap {
        height: 300px;
        overflow: hidden;
        position: relative;

        @media #{$min500} {  
            height: 500px;
        }

        @media #{$min992} {  
            height: 700px;
        }

        .slider-item {
            position: relative;
            height: 300px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            @media #{$min500} {  
                height: 500px;
            }
    
            @media #{$min992} {  
                height: 700px;
            }
        }
    }

}


.slick-arrow {
    display: none !important;
    width: 40px;
    height: 40px;
    background: $color-silver;
    @include bd-radius(50%);
    @include transition(0.5s);
    position: absolute;
    top: 50%;
    bottom: 0;
    margin-top: -20px;
    left: 20px;
    z-index: 200;
    border: none;
    outline: none;
    color: transparent;
    overflow: hidden;

    @media #{$min768} {  
        display: block !important;
    }

    &:hover {
        background: $orenge;

        &::before {
            color: $black;
        }
    }
    span {
        display: none;
    }
    &::before {
        content: "\f106";
        font-family: Flaticon;
        font-weight: 700;
        display: unset;
        vertical-align: 0;
        border-top: none;
        border: none;
        font-size: 14px;
        color: #fff;
        margin-left: 8px;

        @media #{$min768} {
            font-size: 20px;
        }
    }
}
.slick-next {
    left: unset;
    right: 20px;
    &::before {
        content: "\f107";        
        margin-left: 11px;
    }
}


.banneer-content-area {
    .banner-content {
        text-align: center;
        
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 120px;
            width: 10px;
            background: $orenge;
            border-radius: 10px 0px;
            top: 0;
            left: 0;
            z-index: 200;
        }
        &::after {
            content: "";
            position: absolute;
            height: 120px;
            width: 10px;
            background: $orenge;
            border-radius: 10px 0px;
            bottom: 0;
            right: 0;
            z-index: 200;
        }
        

        .heading-title {
            display: inline-block;
            background: rgba($black, 0.5);
            @include bd-radius(10px);
            padding: 40px 15px;
            position: relative;
            width: 100%;

            @media #{$min500} {  
                padding: 40px 10px;
            }

            @media #{$min768} {
                padding: 40px;
            }

            &::before {
                content: "";
                position: absolute;
                width: 120px;
                height: 10px;
                background: $orenge;
                border-radius: 10px 0px;
                top: 0;
                left: 0;
            }
            &::after {
                content: "";
                position: absolute;
                width: 120px;
                height: 10px;
                background: $orenge;
                border-radius: 10px 0px;
                bottom: 0;
                right: 0;
            }
        }
        h1 {
            font-family: $font-extraBold;
            font-weight: 900;
            font-size: 20px;
            line-height: 25px;
            color: #fff;
            text-align: center;
            @include transition(0.4s);
            @include text-shadow(0px, 2px, 10px, 0, 0, 0, 1);

            @media #{$min500} {  
                font-size: 30px;
                line-height: 32px;
            }
    
            @media #{$min992} {  
                font-size: 40px;
                line-height: 45px;
            }
        }
        p {
            font-family: $font-bold;
            color: $white;
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            margin-top: 16px;
            
            @include transition(0.4s);
            @include text-shadow(0px, 2px, 10px, 0, 0, 0, 1);

            @media #{$min500} {  
                margin-top: 25px;
            }


            @media #{$min768} {                
                font-size: 18px;
            }
        }
    }
}


// ===================================================
// ================ our-services-wrap ================
// ===================================================

.our-services-wrap {
    overflow: hidden;

    .services-heading {
        @include section-heading;
    }

    .services-box {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        max-width: 350px;
        margin: 0 auto 20px; 
        border-radius: 20px 16px 12px 32px;
        @include transition(0.4s);

        &:hover {
            @include box-shadow(0px, 2px, 10px, 0, 0, 0, 0.5);
        }

        a {
            position: relative;
            display: block;
            height: 100%;
            text-align: center;
            overflow: hidden;
            padding-left: 50px;
            cursor: pointer;
            z-index: 400;
            border-radius: 20px 16px 12px 32px;

            h2 {
                font-weight: 700;
                color: $color-white;
                margin-top: 20px;
                margin-bottom: 80px;
                font-size: 24px;

                @media #{$min500} {  
                    font-size: 29px;
                }
            }

            &:hover {
                h2 {
                    color: $color-black;
                }
                
            }
        }

        .services-box-image {
            width: 69%;
            height: 41%;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 88px;
            left: 69px;

            @media #{$min500} {  
                bottom: 93px;
            }
        }
        .book{
            position: relative;
            margin: 0 auto;
            width: 100%;
            height: 380px;
            background: #d09200;
            border-radius: 20px 16px 12px 32px;
            background-image: linear-gradient(to right, #9e7106 48px, #ad7e0d 50px, transparent 50px);  
            @media #{$min500} {  
                height: 450px;
            }
          }
          .book:after{
            // box-sizing: inherit; 
            content: ""; 
            position: absolute; 
            height: 52px;
            width: 342px; 
            bottom: 6px;
            left: 9px;
            background: white;
            border-radius: 32px 4px 4px 32px;
            box-shadow: inset 4px 6px 0px 0px #E4E0CE;  
            background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 8px, transparent 12px, #E4E0CE 12px, transparent 14px, transparent 18px,#E4E0CE 18px, transparent 20px, transparent 24px, #E4E0CE 24px, transparent 26px, transparent 30px, #E4E0CE 30px, transparent 32px, transparent 36px, #E4E0CE 36px, transparent 38px, transparent 42px, #E4E0CE 42px, transparent 44px, transparent 48px, #E4E0CE 48px, transparent 50px);     
          }
          .book:before{
            // box-sizing: inherit; 
            content: ""; 
            position: absolute; 
            height: 10px;
            width: 160px; 
            right: calc(50% - 101px);
            top: 93px; 
            background:#b38006;
            border-radius: 20px;
            box-shadow: 0px 15px #b38006;

            @media #{$min500} {  
                top: 105px; 
                height: 14px;
                box-shadow: 0px 23px #b38006;
            }
              
          }
          
    }
}


// ===================================================
// ================ our-clients-wrap =================
// ===================================================

.our-clients-wrap {
    .clients-heading {
        @include section-heading;
    }

    .our-clients-div {
        ul {
            padding: 40px 60px;
        }

        .slick-prev {
            left: 15px;
        }
        .slick-next {
            right: 15px;
        }

        .clients-logo {
            max-width: 300px;
            margin: 0 auto;
            @media #{$min500} {  
                max-width: 1200px;
            }
        }
    }


    .our-clients-div {
        ul {
            li {
                margin: 0 10px;

                img {
                    max-width: 100%;
                }
            }
        }
    }
    
}



// ==========================================================
// =============== our-vision CSS ===========================
// ==========================================================

.our-vision-wrap {
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 200px;
    position: relative;

    .our-vision-wrap-inner {
        overflow: hidden;
        padding: 40px 0;

        @media #{$min500} {
            padding: 100px 0;
        }

        @media #{$min768} {
            padding: 150px 0 200px;
        }

        .vision-heading {
            @include section-heading;
            margin-bottom: 40px;
            color: $color-white;

            .vision-image {
                position: relative;
                width: 300px;
                margin: 0 auto 30px;
            }

            &::before{
                border-bottom: 1px solid $color-golden;
                @include text-shadow(0px, 4px, 5px, 0, 0, 0, 1);
            }
            h2{
                color: $color-white;
                font-size: 27px;
                line-height: 32px; 
                @include text-shadow(0px, 4px, 5px, 0, 0, 0, 1);
                color: $color-golden;
                
                @media #{$min500} {
                    font-size: 30px;
                }
            }
            p {
                font-weight: 400;
                color: $color-white;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 20px;
                @include text-shadow(0px, 4px, 5px, 0, 0, 0, 1);

                @media #{$min500} {
                    font-size: 20px;
                    line-height: 26px;
                }
            }
            

             
        }

    }


    .our-vision-content {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        
        text-align: center;
        
        @media #{$min500} {
            text-align: left;
        }

        p {
            font-family: $font-regular;
            font-size: 15px;
            line-height: 20px;
            color: $color-white;
            @include text-shadow(0px, 2px, 10px, 0, 0, 0, 1);

            @media #{$min500} {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.5);
    }


}

// ==========================================================
// =============== masssege wrap CSS ========================
// ==========================================================

// .our-masssege-wrap {
//     @extend .our-vision-wrap;

//     .masssege-heading {
//         @include section-heading;

//         h2 {
//             color: #d09200;
//         }

//         &::before{
//             border-bottom: 1px solid #d09200;
//             left: calc(50% - 50px);
//             width: 100px;
//         }
//     }

// }

.our-masssege-wrap {
    overflow: hidden;
    position: relative;
    background-color: #efefef;

    .our-vision-wrap-inner {
        overflow: hidden;
        padding: 40px 0;

        @media #{$min500} {
            padding: 80px 0;
        }

        .masssege-heading {
            @include section-heading;
            margin-bottom: 40px;
            color: $color-white;

            .vision-image {
                position: relative;
                width: 300px;
                margin: 0 auto 30px;
            }
            h2{
                color: #d09200;
                font-size: 27px;
                line-height: 32px; 
                
                @media #{$min500} {
                    font-size: 32px;
                    line-height: 38px;
                }

                
            }
            p {
                font-weight: 400;
                color: $color-black;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 20px;

                @media #{$min500} {
                    font-size: 20px;
                    line-height: 22px;
                }
            }
            
            &::before{
                border-bottom: 1px solid #d09200;
                left: calc(50% - 50px);
                width: 100px;

                @media #{$min500} {
                    left: calc(50% - 35px);
                    width: 70px;
                } 
            }
             
        }

    }


    .our-vision-content {
        position: relative;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
        p {
            font-family: $font-regular;
            font-size: 15px;
            line-height: 26px;
            color: $color-black;

        }
    }


}
// ===================================================================
// =============== Footer  Area CSS ==================================
// ===================================================================


.footer-top {
    background: lighten($black, 15%);

    .footer-map {
        width: 100%;
        overflow: hidden;
        text-align: center;
        height: 275px;

        @media #{$min500} { 
            height: 450px; 
        }

        iframe {
            width: 100%;
            max-height: 100%
        }
    }
    
    .footer-address {
        @include footer-addres; 
    }
    
    .footer-factory {
        @include footer-addres; 
    }
}



.footer-bottom {
    background: $orenge;
    padding: 10px 0px;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .privacy {
        width: 44%;
        p {
            color: $black;
            margin: 0;
        }

        strong {
            font-weight: 400;
            margin-right: 10px;
        }
        a {
            position: relative;
            display: inline-block;
            color: $black;
            text-decoration: underline;

            &:after {
                display: inline-block;
                float: right;
                margin: 0 5px;
                content: "|";
                height: 100%;
            }

            &:last-child::after {
                display: none;
            }

            &:hover {
                color: $red;
            }
        }
    }
    .footer-social {
        ul {
            display: flex;
            li {
                &:last-child a {
                    margin-right: 0px;
                }
                a {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    @include bd-radius(6px);
                    background: $black;
                    display: inline-block;
                    margin-right: 15px;
                    @include transition(0.5s);
                    &:hover {
                        background: rgba($black, 0.5);
                    }
                }
                i {
                    font-size: 18px;
                    line-height: 30px;
                    color: $white;
                    @include transition(0.5s);

                    &::before {                        
                         line-height: 30px;
                    }
                }
            }
        }
    }
}




.ic-scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    // @include border-radius(50%);
    background: $color-red;
    animation: animate 5s infinite;
    display: none;
    z-index: 1000;
    border: 5px solid $color-black;

    i {
        font-size: 20px;
        color: #000;
      
    }
  
}