.make-order-wrap {
    margin: 40px 0;
    form {
        h2 {
            box-shadow: 0 1px 5px 3px #f0772045;
            padding: 10px;
            background: blanchedalmond;
            margin-bottom: 20px;
            font-size: 23px;

            @media #{$min768} {
                font-size: 32px;
                padding: 10px 20px;
            }
        }

        .form-group {
            margin-bottom: 30px;

            label {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 15px;
                font-weight: 700;
            }

            .form-control {
                display: block;
                width: 100%;
                height: 50px;
                padding: 8px 12px;
                font-family: $font-regular;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                @include box-shadow(1px, 0px, 7px, 0, 0, 0, .25);
                background: rgba(187, 187, 187, 0.5);
                outline: 0;
                border-radius: 5px;
            }

            .textarea {
                height: auto;
            }
        }
    }
}

.message-send-button {
    overflow: hidden;
}