// =============== mobile nav styling =======================
.ic-mobile-menu-open {
    background: #29306f;
    @include bd-radius(5px);
    padding-top: 3px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    float: right;
    margin-top: -64px;


    i {
        color: $color-white;
        font-size: 22px;
    }

    @media #{$min992} {  
        display: none;
    }
}


.ic-mobile-menu-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    background: #222222;
    top: 0;

    &.active {
        opacity: 0.5;
        visibility: visible;
    }
}


.ic-mobile-menu-wrapper {
    position: fixed;
    background: $color-white;
    z-index: 999;
    top: 0;
    height: 100vh;
    @include transition(0.5s);
    left: 0;
    padding: 50px 15px 30px;
    overflow-y: auto;
    @include transform-x(-100%);
    min-width: 300px;
    opacity: 0;
    visibility: hidden;
  

    &.active {
        @include transform-x(0);
        opacity: 1;
        visibility: visible;
      
    }
}



.ic-menu-close {
    position: absolute;
    top: 10px;
    right: 13px;
    a {
        display: block;
        width: 26px;
        height: 26px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid rgba($color-blue, 1);
        padding: 0 5px;
        i {
            font-size: 12px;
            line-height: 26px;
            color: $color-blue;
        }
    }

    
}


.ic-mobile-menu {
    padding-left: 0px;

    li {
        list-style-type: none;
        position: relative;

        span.menu-expand {
            position: absolute;
            right: 0;
            top: 0;
        }

        a {
            display: block;
            font-family: $font-regular;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-transform: capitalize;
            padding-bottom: 10px;
            margin-bottom: 10px;            
            border-bottom: 1px dotted #0d0d0d42;
            color: $color-blue;

            &:hover {
                color: $color-red;
            }

            &.active {
                color: $color-red;
            }
        }

        ul.ss-dropdown-menu {
            padding-left: 10px;
            li{
                a {
                    font-size: 15px;
                    line-height: 20px;
                    padding-bottom: 8px;
                    margin-bottom: 10px;            
                    border-bottom: none;
                    color: $color-lightBlue;
        
                    &:hover {
                        color: $color-red;
                    }
        
                    &.active {
                        color: $color-red;
                    }
                }

                
            }
            
        }

        ul.ss-dropdown-menu-one {
            padding-left: 10px;
            li{
                a {
                    font-size: 14px;
                    line-height: 18px;           
                    border-bottom: none;
                    color: darken($color-orenge, 10%);
        
                    &:hover {
                        color: $color-red;
                    }
        
                    &.active {
                        color: $color-red;
                    }
                }
            }
        }

    }
}


.ic-mobile-nav-bottom {
    margin-bottom: 100px;
    
    ul {
        padding: 0;
        margin-top: 20px;
    
        li {
            margin-bottom: 2px;
            display: block;

            a {
                display: inline-block;
                font-size: 11px;
                line-height: 11px;
                font-weight: 600;
                color: $black;

                &:hover {
                    text-decoration: underline;
                    color: $color-red;
                }
            }
        }            
    }
}

